/*header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img{
    width: 10%;
}
a{
    padding: 10px;}*/
h1{
    text-align: center;
    font-size: xx-large;
    
}
.contenido-navegacion{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--blanco);
    box-shadow: 10px 10px 16px -6px rgba(0, 0, 0, 0.45);
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 2;
}
.navegacion{
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;
    animation: desplazamiento .5s ease-in-out;

}
@media(min-width:768px) {
    .ocultar{
        display: inline;
    }

}
.navegacion a{
    display: block;
    font-size: 2rem;
    padding: 1.1rem;
    color: var(--oscuro);
    text-decoration: none;
    transition: backround-color .3s ease-in-out;

}
.navegacion a:hover{
    background-color: var(--azulClaro);
    color: var(--blanco);

}